* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}
h1, h2, h3 {
  font-family: 'Gotu', sans-serif;
}
h1 {
  font-size: 4em;
  text-align: center;
  margin: 10px;
}
h2 {
  font-size: 2.2em;
  margin: 100px;
  text-align: center;
}
h3 {
  font-size: 1.5em;
  text-align: center;
  color:#77797a;
  margin-bottom: 30px;
}
.intro-text {
display: flex;
flex-flow: row;
align-items: center;
margin: 20px;
}
.paragraph {
  width: 400px;
}
.children-intro {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px;
}
.firstPie {
  display: flex;
  flex-flow: column-reverse;
}
.firstPie-text {
  display: flex;
  flex-flow: column;
}
.firstPie-text > p {
  font-size: 1.2em;
}
#colorBlue {
  color: #0088fe;
}
#colorGreen {
  color: #00C49F;
}
.byClass-data {
  font-size: 1.3em;
}

/* TABLE STYLES */

.byClass-table {
  text-align: center;
}
.byClass-table > p {
  background-color: white;
  padding: 10px;
}
#class1 {
  background-color: #0088fe;
  color: white;
  font-size: 1.5em;
}
#class2 {
  background-color: #00C49F;
  color: white;
  font-size: 1.5em;
}
#class3 {
  background-color: #FFBB27;
  color: white;
  font-size: 1.5em;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  
}
.noFamily-table {
  border: 1px solid;
  border-radius: 20px;
  border-color: #10518a;
  text-align: center;
}
.table-section {
  font-size: 1.4em;
  font-weight:600;
}
.allChildren-table {
border: 1px solid;
border-color: #10518a;
border-radius: 20px;
}
.allChildren-table tr:nth-child(even) {
  background-color:#cddff0;
}
/* END TABLE STYLES */

.pie {
  font-size: 1.5em;
}