* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
}
h1, h2, h3 {
  font-family: 'Gotu', sans-serif;
}
h1 {
  font-size: 4em;
  text-align: center;
  margin: 10px;
}
h2 {
  font-size: 2.2em;
  margin: 100px;
  text-align: center;
}
.intro-text {
display: flex;
flex-flow: row;
align-items: center;
margin: 20px;
}
.paragraph {
  width: 400px;
}
.children-intro {
  display: flex;
  flex-flow: row nowrap;
  margin: 20px;
}
.firstPie {
  display: flex;
  flex-flow: column-reverse;
}
.firstPie-text {
  display: flex;
  flex-flow: column;
}
.firstPie-text > p {
  font-size: 1.2em;
}
#colorBlue {
  color: #0088fe;
}
#colorGreen {
  color: #00C49F;
}